.row{
    display: flex;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.row > .col{
    display: inline-block;
    margin: 10px;
    width: 45%;
    padding: 10px;
}
.bgColor{
    background-color: #DBF3FA;
}
.tableRes{
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden
}
table{
    width: 100%;
    padding: 5px;
}
/* table>.table_header{
    border: 2px solid red;
} */

.bill{
    background: white;
    font-weight: bold;
}
.cancelBtn{
    background-color: tomato;
    color: white;
    width: 100%;
    padding: 10px;
    border: 2px solid tomato;
    border-radius: 4px;

}
.processBtn{
    background-color: #5cb85c;
    color: white;
    width: 100%;
    padding: 10px;
    border: 2px solid #5cb85c;
    border-radius: 4px;
}

.products{  
    height: 500px;
    overflow-y: scroll
}
.products> .product{
    background-color: #5cb85c;
    width: 100px;
    display: inline-grid;
    border-radius: 2px;
    margin: 5px;
    padding: 5px;
}
.products> .product>img{
    height: 80px;
    width: 100px;
    opacity: 0.2;
}
.products> .product>.productContent{
    
    height: 100%;
    position: relative;
    bottom: 90px;
    padding: 10px;
    color: white;
    text-align: center;
    line-height: 20px;
}
/* .product>.productContent:hover{
    display: inline-block;
} */
.products> .product>.productContent>p{
    position: relative;
    bottom: 35px;
    height: 100px;
    display: none;
}
.products> .product>.productContent:hover p{
    display: inline-block;
}
.qty{
    text-align: center;
}
.qty>input{
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 4px;
}