<h1>Main Screen</h1>
<div class="row">
  <div class="col bgColor">
    <div class="tableRes">
      <table>
        <thead class="table_header">
          <tr>
            <th></th>
            <th>PRODUCTS</th>
            <th>PRICE</th>
            <th>QUANTITY</th>
            <th>TOTAL</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Selecteditem of selectedProducts">
            <td>
              <span class="cross" (click)="deleteItem(Selecteditem)">X</span>
            </td>
            <td>{{Selecteditem.name}}</td>
            <td>{{Selecteditem.price}}</td>
            <td>
              <div class="qty"><input type="button" name="" id="" value="+" (click)="incrementQty(Selecteditem)">
              <input type="number" name="" id="" [value]="Selecteditem.qty" #quantity readonly>
              <!-- <span>{{Selecteditem.qty}}</span> -->
              <input type="button" name="" id="" value="-" (click)="decrementQty(Selecteditem)"></div>
            </td>
            <td>{{Selecteditem.totalItemPrice}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="bill">
      <table>
        <tr>
          <td>Sub Total</td>
          <td> {{subTotal}} EUR</td>
          <td>{{_qty}} items</td>
        </tr>
        <tr>
          <td>VAT tax</td>
          <td><input type="number" name="" id="" min="0" max="100"></td>
          <td>EUR</td>
        </tr>
        <tr>
          <td>Discount</td>
          <td><input type="number" name="" id="" min="0" max="100"></td>
          <td>EUR</td>
        </tr>
        <tr>
          <td>Total</td>
          <td>{{total}} EUR</td>
        </tr>
        <tr>
          <td>
            <input type="button" class="cancelBtn" value="CANCEL SALE" (click)="cancelSale()">
          </td>
          <td colspan="2">
            <input type="button" class="processBtn" value="PROCESS SALE" (click)="processSale()">
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="col bgColor">
    <div class="products">
      <div class="product" *ngFor="let item of products">
          <img src='{{"../../assets/images/" + item.image}}' alt="" (click)="addItem(item)">
            <span>{{item.name}}</span><br>
            <p (click)="addItem(item)"><br> {{item.price}} <br> {{item.description}}</p>
      </div>
    </div>
  </div>
</div>
<div class="billModel" *ngIf="isBillGenerated">
  <div class="header">
    <p>Receipt</p>
  </div>
  <div class="body">
    <h3>Sale No.:</h3>
    <p>Date: {{date | date:'short'}} </p>
    <table class="Producttable">
      <thead>
        <th>#</th>
        <th>Products</th>
        <th>Quantity</th>
        <th>SubTotal</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of selectedProducts; let i=index">
          <td>{{i+1}}</td>
          <td>{{item.name}}</td>
          <td>{{item.qty}}</td>
          <td>{{item.totalItemPrice}}</td>
        </tr>
      </tbody>
    </table>
    <table class="total_table">
      <tbody>
        <tr>
          <td>Total Items</td>
          <td>{{billQty}}</td>
          <td>Total</td>
          <td>{{billTotalAmt}}</td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>Discount</td>
          <td>dis</td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td>VAT</td>
          <td>VAT</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="footer">
    <input type="button" value="Close" class="closeBtn" (click)="close()">
  </div>
</div>
